<button type="button" class="install-communise-button" data-install-communise>
  <span class="install-communise-label">Add Communise to Home Screen</span>
  <span class="install-device-pair" aria-hidden="true">
    <span class="install-device">
      <img class="install-platform-logo" src="{{ url_for('static', filename='android-logo.svg') }}" alt="" />
    </span>
    <span class="install-device">
      <img class="install-platform-logo" src="{{ url_for('static', filename='apple-logo.svg') }}" alt="" />
    </span>
    <span class="install-device">
      <img class="install-platform-logo" src="{{ url_for('static', filename='windows-logo.svg') }}" alt="" />
    </span>
  </span>
</button>
